node_modules/
release-keys/
dist/
release/
artifacts/
out/
.tmp/
*.log
config/*.bak
.DS_Store
Thumbs.db
www/apps/

# Ignore server binaries but keep directory structure
servers/**/*
!servers/**/
!servers/**/.gitkeep

# Ignore data contents but keep the folder
data/*
!data/.gitkeep
