* text=auto

*.sh text eol=lf
update/SHA256SUMS text eol=lf
update/manifest.json text eol=lf
update/packages/*.zip binary
plesk-extension/kitsuneserv-bridge/sbin/* text eol=lf
plesk-extension/kitsuneserv-bridge/**/*.php text eol=lf
plesk-extension/kitsuneserv-bridge/**/*.phtml text eol=lf
